<%- include('partials/header.ejs') %>

      <div class="searchBox dropdown">
        <input id="searchBar" class="searchBar" type="text" placeholder="Enter Book Name or Author..." />
        <ul id="myDropdown" class="dropdown-content"></ul>
      </div>
      

      <div class="filterBar">
        <p>Sort By:</p>
        <form action="/filter" method="post">
          <select name="filterOption" id="">
            <option value="title">Title</option>
            <option value="rating">Rating</option>
            <option value="date">Date</option>
          </select>

          <input class="filterButton" type="submit" value="Go">
        </form>
      </div>

      <% data.forEach((bookData) => { %>
        <div class="books">
          <div class="coverSection">
            <img class="coverImage" src="https://covers.openlibrary.org/b/id/<%= bookData.coverid %>-L.jpg" alt="book cover image">
          </div>
      
          <div class="bookInfo">
            <h2 class="title"><%= bookData.title %></h2>
            <h4 class="authorName">By <%= bookData.author %></h4>
      
            <h3>Review:</h3>
            <textarea readonly cols="30" rows="10"><%= bookData.review %></textarea>
      
            <h3>Rating:</h3>
            <div class="stars">
              <% for (let i = 1; i <= 5; i++) { %>
                <% if (i <= bookData.rating) { %>
                  <span style="color: orange;">★</span>
                <% } else { %>
                  <span style="color: rgb(2, 2, 2);">☆</span>
                <% } %>
              <% } %>
            </div>
      
            <div class="buttons" style="margin-top: 16px;">
              <form action="/modify" method="post">
                <!-- Hidden fields to identify which book is being edited/deleted -->
                <input type="hidden" name="title" value="<%= bookData.title %>">
                <input type="hidden" name="author" value="<%= bookData.author %>">
                <input type="hidden" name="coverId" value="<%= bookData.coverid %>">
                <input type="hidden" name="review" value="<%= bookData.review %>">
                <input type="hidden" name="rating" value="<%= bookData.rating %>">
      
                <input type="submit" name="action" value="Edit">
                <input type="submit" name="action" value="Delete">
              </form>
            </div>
          </div>
        </div>
      <% }); %>
      

    </main>

    <script src="/index.js"></script>
  </body>
</html>